/*
 * Header
 */
 .btn-custom {
  border-color: #4D4443 !important;
  color: #4D4443 !important;
}

.btn-custom:hover {
  background-color: #474D89 !important;
  border-color: #474D89 !important;
  color: #ffffff !important;
}

.btn-custom.selected {
  background-color: #474D89 !important;
  border-color: #474D89 !important;
  color: #ffffff !important;
}
.nav-separator .nav-item:not(:last-child) {
    margin-right: 1rem;
}

.btn {
  transition: box-shadow 0.3s ease;
}
.btn:hover {
  box-shadow: 0px 2px 4px #28325b;
}

