/*
 * Header
 */

 .nav-masthead .nav-link {
    color: #624D4B;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    color: #624D4B;
    border-bottom-color: #474d89;
}

.nav-masthead .active {
    color: #624D4B;
    border-bottom-color: #474d89;
}

.nav-separator .nav-item:not(:last-child) {
    margin-right: 1.5rem;
}